<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="signup" method = "POST">
   {% csrf_token %}
    User Name:<input type = "text" name ="username"><br>
    name : <input type = "text" name ="name"> <br>
    mobile : <input type = "number" name = "mobile"> <br>
    email : <input type = "email" name ="email"> <br>
    password : <input type = "password" name ="password"> <br>
    city : <input type = "password" name ="city"> <br>
    <input type = "submit">

    </form>
</body>
</html>

